/* general settings */

#rsc-search-order {
	float: none;
}

.rsc-form-buttons {
	display: flex;
}

.rsc-form-buttons p{
	margin-right: 15px;
}
.rsc-table {
	width: 100%;
}

.rsc-table .dashicons {
	line-height: 20px;
	margin: 4px 0;
}

.rsc-table .rsc-input-others {
	display: none;
}
.rsc-table thead th {
	text-align: center;
}
.rsc-table tbody th {
	padding: 15px 30px 0 15px;
}

.rsc-table label:has(input:checked) + label.rsc-input-others {
	display: inline;
}

.rsc-table input {
	vertical-align: middle;
}

.rsc-table select[readonly],
.rsc-table input[readonly],
.rsc-table textarea[readonly]{
	pointer-events:none;
	background-color: #f0f0f1;
	opacity: .5;
}
.rsc-table label:has([readonly]) {
	pointer-events:none;
}

.rsc-table :disabled {
	opacity: .5; 
	border-color: #fff !important;
}

.rsc-table button {
	border: none;
	background: none;
}

/* edit post settings */
.rsc-editting-settings {
	margin: 50px 0;
}

.rsc-setting-lock {
	height: 20px;
	width: 20px;
	position: relative;
	float: right;
	/* border: 2px solid #c00; */
	border-radius: 12px;
	/* background: rgba(204, 0, 0, .2); */
}

.rsc-setting-lock.rsc-is-disabled {
	color: #c00;
}


.rsc-table-list .rsc-check-locking {
	min-width: 20px;
	padding: 0;
}
.rsc-check-locking .rsc-lock-inputs {
	font-size: 1px;
	position: absolute;
}
.rsc-lock-inputs input {
	visibility: hidden;
}
.rsc-is-locked, .rsc-is-unlocked {
	position: absolute;
	
}
.rsc-lock-inputs ~ .rsc-is-locked {
	display: none;
}
.rsc-lock-inputs ~ .rsc-is-locked {
	display: none;
}
.rsc-lock-inputs ~ .rsc-is-unlocked {
	display: inherit;
}
.rsc-lock-inputs:has(input:checked) ~ .rsc-is-locked {
	display: inherit;
}
.rsc-lock-inputs:has(input:checked) ~ .rsc-is-unlocked {
	display: none;
}


/* event settings */
.rsc-table-list-wrapper {
	position: relative;
	max-height: 100vh;
	overflow: auto;
	padding-right: 20px;
}
/* 
.rsc-table-list {
	margin: 23px 0 0 0;
} */

.rsc-table-list .action {
	white-space: nowrap;
}
.rsc-table-list .actions label {
	margin-left: 1em;
}
.rsc-table-list .actions input,
.rsc-table-list .actions select {
	vertical-align: middle;
}

.rsc-table-list th {
	width: auto;
}
.rsc-table-list tfoot {
	position: sticky;
	bottom: 0;
	left: 0;
	background: #fff;
	border: 1px solid #c3c4c7;
}
.rsc-table-list tfoot td{
	text-align: right;
}

.rsc-event-upper {
	padding-bottom: 10px;
}
.rsc-event-upper,
.rsc-event-lower {
	position: relative;
	display: flex;
	align-items: first baseline;
	width: 100%;
}

.rsc-event-unit {
	padding-right: 1em;
	white-space: nowrap;
}
.rsc-event-lock {
	min-width: 35px;
}

.rsc-event-inputs {
	min-height: 32px;
	display: flex;
	/* align-items: center; */
}
.rsc-event-inputs {
	padding-bottom: 10px;
}

.rsc-table-list tbody label {
	display: inline-block;
	min-width: 4em;
	min-height: 30px;
	line-height: 30px;
	font-weight: bold;
	padding: 0 5px;
	white-space: nowrap;
}

.rsc-table :where(.rsc-event-inputs, p):has(:disabled) label,
.rsc-table :where(.rsc-event-inputs, p):has([readonly]) label {
	opacity: .5;
}

.rsc-event-label input {
	max-width: calc(100% - 8em);
}

.rsc-table-list tbody .rsc-event-repeat-label {
	font-weight: normal;
}
.rsc-table-list tbody td:first-child{
	width: 15px !important;
}
.rsc-table-list tbody td:nth-child(2){
	width: 30px !important;
}

.rsc-table-list input.short-text {
	max-width: 100px;
}

.rsc-table-list .rsc-event-exclude {
	align-items: first;
}

.rsc-table-list .rsc-event-exclude-list {
	white-space: wrap;
	padding: 0;
	margin: 0 10px;
	width: 100%;
	min-width: 50%;
	line-height: 2;
	min-height: 30px;
	box-shadow: 0 0 0 transparent;
	border-radius: 4px;
	border: 1px solid #8c8f94;
	background-color: #fff;
	color: #2c3338;
}

.rsc-table-list .rsc-event-exclude-list[readonly]{
	opacity: .5;
	pointer-events: none;
}
.rsc-table-list .rsc-event-exclude-list[disabled] {
	opacity: .5;
	pointer-events: none;
	border-color: #fff;
}

.rsc-table-list .rsc-event-exclude-list[disabled] .rsc-event-exclude-date-item {
	border-color: #fff;
	color: rgba(44,51,56,.5);
}

.rsc-event-exclude-date-item {
	white-space: wrap;
	display: inline-block;
	border: 1px solid #8c8f94;
	padding: 0 0 0 10px;
	line-height: 1.4em;
	font-size: 12px;
	font-weight: bold;
	background: #eee;
	border-radius: 4px;
	vertical-align: middle;
	margin: 5px;
}

.rsc-event-exclude-date-item svg {
	vertical-align: middle;
}

.rsv-event-action {
	padding: 10px 0;
}

@media screen and (max-width: 782px) {
	
	.rsc-table button .dashicons {
		line-height: 40px;
	}
	
	.rsc-event-lower {
		display: block;
	}
	.rsc-table-list {
		width: 100%;
	}
	
	.rsc-table-list tbody tr{
		position: relative;
		display: flex;
		align-items: center;
	}
	.rsc-table-list tbody td {
		padding: 4px 1em;
	}
	.rsc-table-list .rsc-event-inputs {
		margin: 8px 0;
		line-height: 2em;
		display: block;
	}
	
	.rsc-table-list tbody td:first-child {
		/* float: left; */
		text-align: center;
	}
	.rsc-table-list tbody td:nth-child(2) {
		/* height: 1em;
		position: absolute;
		top: 0;
		right: 0; */
	}
	.rsc-table-list tbody td:nth-child(3) {
		width: 100%;
	}
	.rsc-table-list tbody label {
		display: block;
		white-space: inherit;
	}
	
	.rsc-table-list .rsc-event-exclude {
		display: flex;
	}
	
	.rsv-event-action {
		display: inline-block;
	}
	
	.rsc-table-list tfoot tr {
		display: flex;
		width: 100%;
	}
	.rsc-table-list tfoot td{
		width: 100%;
	}
	
}

.rsc-table-each {
	width: auto;
}
.rsc-table-each th {
	width: auto;
	min-width: 80px;
}

.rsc-table-each td {
	text-align: center;
}

.rsc-shortcode-wrapper {
	margin: 0 20px 0 0;
	display: flex;
}

.rsc-shortcode-box {
	margin-right: 30px;
	position: relative;
	width: 100%;
	max-width: 500px;
	min-width: 200px;
	margin-bottom: 20px;
}

.rsc-shortcode-panel {
	margin-bottom: 20px;
	white-space: nowrap;
}

.rsc-tooltip {
		display:none;
		position: absolute;
		right: -100%;
		top: -30px;
		background: #eee;
		border:1px solid #ddd;
		padding:3px;
		font-size:13px;
		z-index: 10;
		-moz-box-shadow: 2px 2px 11px #999;
		-webkit-box-shadow: 2px 2px 11px #999;
}

.rsc-copy-button {
	position: absolute;
	z-index: 1;
	right: 0px;
	top: 0;
	height: 100%;
}

.rsc-shortcode-attr {
	display: none;
}

@media screen and (max-width: 782px) {
	.rsc-shortcode-wrapper {
		flex-wrap: wrap;
	}
}

.rsc-preview {
	border: 1px solid #c3c4c7;
	border-radius: 10px;
	padding: 10px;
	background: #fff;
}

.rsc-widget-label {
	margin-top: 8px;
}

.rsc-widget-label .rsc-is-locked {
	font-size: small;
}

.rsc-widget-input {
	display: flex;
}

.rsc-widget .rsc-widget-input .rsc-widget-item:nth-child(n+2){
	display: none;
}

.rsc-widget .rsc-widget-input select.rsc-widget-item {
	width: 30%;
}

.rsc-widget .rsc-widget-input label.rsc-widget-item input.small-text {
	width: 65px;
	display: inline-block;
}

.rsc-unit {
	display: none;
}

#rsc-calendar-type:has(option[value="day"]:checked) ~ #rsc-calendar-type-align,
#rsc-calendar-from:has(option[value="previous"]:checked) ~ #rsc-calendar-from-previous,
#rsc-calendar-from:has(option[value="date"]:checked) ~ #rsc-calendar-from-date,
#rsc-calendar-period:has(option[value="last"]:checked) ~ #rsc-calendar-period-last,
#rsc-calendar-period:has(option[value="date"]:checked) ~ #rsc-calendar-period-date {
	display: block;
}

.rsc-widget-input:has(option[value="day"]:checked) ~ .rsc-widget-input #rsc-calendar-start_of_week{
	pointer-events:none;
	background-color: #f0f0f1 !important;
}

.rsc-widget-input:has(option[value="month"]:checked) ~ .rsc-widget-input .rsc-unit-month {
	display: inline;
}
.rsc-widget select:disabled {
	pointer-events:none;
	background-color: #f0f0f1 !important;
}
.rsc-widget .dashicons {
	padding-top: 8px
}

.rsc-widget .rsc-is-locked, .rsc-widget .rsc-is-unlocked {
	position: static;
}